<header id="home"> 
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <%= image_tag 'novas/logomarcatopo.png' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <button type="button" class="learn-more-btn" data-toggle="modal" data-target="#myModal">Estou Interessado!</button>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Nossos Contatos</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Endereço</span></h2>
          <p>Francisco Beltrão/PR</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-mobile"></i><span>Telefone</span></h2>
          <p>(46) 9999.9999</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
          <p><a href="#">divulgarejo@divulgarejo.com.br</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-github"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Designer e Desenvolvimento<a href="http://www.divulgarejo.com/"> Divulgarejo</a></p>
      </div>
    </div>
  </div>
</footer>