<header id="home"> 
  <section class="hero" id="hero">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center inner">
          <%= image_tag 'novas/logomarcatopo.png' %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-md-offset-3 text-center">
          <button type="button" class="learn-more-btn" data-toggle="modal" data-target="#myModal">Estou Interessado!</button>
        </div>
      </div>
    </div>
  </section>
</header>
<section class="intro text-center section-padding" id="intro">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 wp1">
        <h1 class="arrow">A Divulgarejo</h1>
        <p>A equipe do Divulgarejo propõe uma solução que será composta de um aplicativo para facilitar a divulgação dos anúncios com promoções das empresas devidamente cadastradas em nosso sistema. A solução também vem em contra partida auxiliar e informar o público alvo das promoções publicadas em nosso app.
O aplicativo terá interação com mídias sociais através da API do Facebook e do Google+, para efetuar cadastro tanto da empresa quanto dos usuários finais do aplicativo.
Na timeline serão relacionadas todas as promoções cadastradas e devidamente aprovadas que são do interesse do usuário. Este ainda irá localizar os produtos atráves do google maps para facilitar a identificação da localidade.</p>
      </div>
    </div>
  </div>
</section>
<section class="features text-center section-padding" id="features">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Nossos Serviços</h1>
        <div class="features-wrapper">
          <div class="col-md-4 wp2">
            <div class="icon">
              <i class="fa fa-laptop shadow"></i>
            </div>
            <h2>Design Resposivo</h2>
            <p>Nosso aplicativo conta com uma estrutura Responsiva, desta forma se ajustando em diferentes tamanhos de telas.</p>
          </div>
          <div class="col-md-4 wp2 delay-05s">
            <div class="icon">
              <i class="fa fa-code shadow"></i>
            </div>
            <h2>Evolução Continua</h2>
            <p>As soluções e a equipe são especializados, o que garante evolução contínua, alta performance e antecipação às necessidades do mercado.</p>
          </div>
          <div class="col-md-4 wp2 delay-1s">
            <div class="icon">
              <i class="fa fa-heart shadow"></i>
            </div>
            <h2>Usabilidade</h2>
            <p>Nosso produto possui uma interface intuitiva  que proporciona uma navegação agradável e produtiva para o cliente.</p>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="dark-bg text-center section-padding contact-wrap" id="contact">
  <a href="#top" class="up-btn"><i class="fa fa-chevron-up"></i></a>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="arrow">Nossos Contatos</h1>
      </div>
    </div>
    <div class="row contact-details">
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-map-marker"></i><span>Endereço</span></h2>
          <p>Francisco Beltrão/PR</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-mobile"></i><span>Telefone</span></h2>
          <p>(46) 9999.9999</p>
        </div>
      </div>
      <div class="col-md-4">
        <div class="light-box box-hover">
          <h2><i class="fa fa-paper-plane"></i><span>Email</span></h2>
          <p><a href="#">divulgarejo@divulgarejo.com.br</a></p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <ul class="social-buttons">
          <li><a href="#" class="social-btn"><i class="fa fa-github"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#" class="social-btn"><i class="fa fa-envelope"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <ul class="legals">
          
        </ul>
      </div>
      <div class="col-md-6 credit">
        <p>Designer e Desenvolvimento<a href="http://www.divulgarejo.com/"> Divulgarejo</a></p>
      </div>
    </div>
  </div>
</footer>